.headerContainer {
    padding: 5px 5px 5px 5px;
    position: fixed;
    right: 0;
    top: 0;
}

.fullWidth{
    width: calc(100% - 10px);
}

.noEvent {
    pointer-events: none;
    * {
        pointer-events: none;
    }
}

.zIndex{
    z-index: 1;
}


// .disabled{
//     *:disabled {
//         color: hsla(var(--r-surface-contrast), 0.4);
//         cursor: default !important;
//         pointer-events: none;

//         &:hover {
//             color: hsla(var(--r-surface-contrast), 0.4);
//             background-color: hsla(var(--r-surface-mid), 0.8);
//         }
//     }
// }