.pageLayout{
    padding-top: 48px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    height: 100dvh;

    // display: flex;
    // align-items: center;
    // justify-content: center;
}